* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.themeToggle {
  margin-top: 5px;
  width: 70px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--toggle-keypad-background);
  border-radius: 16px;
  text-decoration: none;
  border: none;
}
.themeToggle.theme1 {
  justify-content: flex-start;
}

.themeToggle.theme2 {
  justify-content: center;
}

.themeToggle.theme3 {
  justify-content: flex-end;
}
